* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  
  /* font-family: 'Fredoka', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Ubuntu', sans-serif; */
}
p{
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Nunito', sans-serif;
  /* font-family: 'Ubuntu', sans-serif; */
}
h1,h2,h3,h4,h5{
  font-weight: 800;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif; 
}
i{
  padding:0 2vh ;
  color: #101c81;
}
.top {
  margin-top: -1vh;
  background-color: #000000;
  line-height: 7vh;
  text-align: center;
  color: white;
  font-weight: 500;
}
.top span{
  padding-left: 2vh;
}


.timings{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.timings div{
  padding: 2vh;
}

.timings i{
  font-size: 34px; 
  background-color: rgba(128, 128, 128, 0.389);
  padding: 5px;
  border-radius: 5px;
  margin-right: 2vh;
}




.clinic-name{
  display: flex;
  margin: auto;
  margin-top: 20vh;
  color: white;
  font-size: 100px;
  font-weight: 700;
  justify-content: center;


}

.btns{

  padding:20px;
  margin:4vh ;
  background-color: rgb(4, 4, 94);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 600;
  word-spacing: 3px;
  border: none;

}

.about{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.about-page{
  display: flex;
  justify-content: space-around;
  padding: 15vh;
}

.about-page img{
  border-radius: 20px;
  /* width: 600px; */
}

.r {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.c {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

.c img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery{
  padding: 10vh;
}

.gallery .c img:hover{

    transform: scale(1.1);
    transition: all 0.3s ease;

}


.gallery .square{
  width: 25px;
  height:30px;
  border: 5px solid rgb(153, 139, 119);;
  animation: spin 3s linear infinite;
  animation-name: spin;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(359deg); }
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .c {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .c {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}
.tick{
  color: white;
  background-color: #4cd137;
  border-radius: 5px;
  padding: 5px;
  margin-right: 2vh;
  font-size: 30px;

}

.intro{
  display: flex;
  justify-content: space-evenly;
  padding-top: 10vh;
  word-wrap: break-word;
}

.intro h1{
  margin-top: 8vh;
  font-weight: 700;
}

.clip {
  position: relative;
  text-align: center;
  color: white;
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  font-size: 80px;
  white-space: nowrap;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif; 
}
.centered div{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -150%);
  
}
.centered i{
  font-size: 30px;
  color: white;
 
}

.wrap-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.main-content {
  margin: 0 auto;
  text-align: center;
}

#cards_landscape_wrap-2 {
  text-align: center;
  margin-top: -5vh;
  /* background: #f7f7f7; */
}
#cards_landscape_wrap-2 h1{
  font-weight: 700;
}
#cards_landscape_wrap-2 .container {
  padding-top: 80px;
  padding-bottom: 100px;
}
#cards_landscape_wrap-2 a {
  text-decoration: none;
  outline: none;
}
#cards_landscape_wrap-2 .card-flyer {
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box {
  background: #ffffff;
  overflow: hidden;
  /* box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5); */
  border-radius: 5px;
}
#cards_landscape_wrap-2 .card-flyer .image-box img {
  -webkit-transition: all 0.9s ease;
  -moz-transition: all 0.9s ease;
  -o-transition: all 0.9s ease;
  -ms-transition: all 0.9s ease;
  width: 100%;
  height: 200px;
  padding: 2vh;
}
#cards_landscape_wrap-2 .card-flyer:hover .image-box img {
  /* opacity: 0.7; */
  -webkit-transform: scale(1.15);
  -moz-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -o-transform: scale(1.15);
  transform: scale(1.15);
}
#cards_landscape_wrap-2 .card-flyer .text-box {
  text-align: center;
}
#cards_landscape_wrap-2 .card-flyer .text-box .text-container {
  padding: 30px 18px;
}
#cards_landscape_wrap-2 .card-flyer {
  background: #ffffff;
  margin-top: 50px;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.4);
}
#cards_landscape_wrap-2 .card-flyer:hover {
  background: #fff;
  box-shadow: 0px 15px 26px rgba(0, 0, 0, 0.5);
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  margin-top: 50px;
}
#cards_landscape_wrap-2 .card-flyer .text-box p {
  margin-top: 10px;
  margin-bottom: 0px;
  padding-bottom: 0px;
  font-size: 14px;
  letter-spacing: 1px;
  color: #000000;
}
#cards_landscape_wrap-2 .card-flyer .text-box h6 {
  margin-top: 0px;
  margin-bottom: 4px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
 
  letter-spacing: 1px;
  color: rgb(8, 8, 144);
}

.offer {
  width: 100%;
}
.offer .offer-text {
  background-color: #101c81;
  color: white;
  padding: 20vh;
}
.offer .offer-text h1 {
  font-size: 50px;
}
.offer img {
  width: 740px;
  height:600px ;
}

.stats{
  margin: 10vh;
  color: white;
  font-weight: 900;
 
}
#counter{
  display: flex;
  justify-content:center;
  align-items: center;
  font-size: 55px;
  padding: 5vh 0 5vh 15vh;

}

#counter .c{
  display: flex;
  flex-direction: column;
}

.section-team {
 
  padding: 80px 0;
}


.section-team .header-section .small-title {
  /* margin-bottom: 25px; */
  font-size: 16px;
  font-weight: 500;
  color: #3e64ff;
}

.section-team .header-section .title {
  font-weight: 700;
  font-size: 45px;
}

.section-team .single-person {
  margin-top: 30px;
  padding: 30px;
  /* background-color: #f6f9ff; */
  border-radius: 5px;
}

.section-team .single-person:hover {
  background: linear-gradient(to right, #101c81, #00b5f7);
}

.section-team .single-person .person-image {
  position: relative;
  margin-bottom: 50px;
  border-radius: 50%;
  border: 10px solid white;
  transition: padding 0.3s;
}

.section-team .single-person:hover .person-image {
  padding: 12px;
  border: 4px dashed #fff;
}

.section-team .single-person .person-image img {
  width: 100%;
  border-radius: 50%;
}

.section-team .single-person .person-image .icon {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  display: inline-block;
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background: linear-gradient(to right, #101c81, #00b5f7);
  color: #fff;
  border-radius: 50%;
  font-size: 24px;
}

.section-team .single-person:hover .person-image .icon {
  background: none;
  background-color: #fff;
  color: #016cec;
}

.section-team .single-person .person-info .full-name {
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
}

.section-team .single-person .person-info .speciality {
  text-transform: uppercase;
  font-size: 14px;
  color: #016cec;
}

.section-team .single-person:hover .full-name,
.section-team .single-person:hover .speciality {
  color: #fff;
}

.title {
  font-size: 1.5rem;
}
.description {
  font-size: 0.95rem;
  color: #333;
}

.slider-container {
  margin-top: 2rem;
  margin: 2rem auto 0 auto;
  position: relative;
  overflow: hidden;
}
.slider {
  display: flex;
  flex: 0 0 1;
  width: 300%; /* Depends On slide-box Length * 100 */
  transition: all 0.5s linear;
}
.slide-box {
  padding: 0 80px;
}
.slide-box .comment {
  background-color: #000;
  color: #fff;
  font-size: 0.86rem;
  padding: 1rem 1.5rem;
  margin-bottom: 2rem;
  letter-spacing: 0.4px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  position: relative;
  font-weight: 400;
}
.slide-box .comment::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -10px;
  height: 20px;
  width: 20px;
  background-color: #000;
  transform: translateX(-50%) rotate(45deg);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.slide-box img {
  max-width: 60px;
  border-radius: 50%;
}
.slide-box .name {
  font-size: 1rem;
}
.slide-box .job {
  font-size: 0.7rem;
  color: #8d8e97;
  font-weight: 400;
}

.control-slider {
  position: absolute;
  z-index: 5;
  top: 50%;
  transform: translateY(-50%);
  height: 40px;
  width: 40px;
  background-color: #fff;
  line-height: 40px;
  color: #333;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
}
.btn-left {
  left: 10px;
}
.btn-right {
  right: 10px;
}

@media screen and (max-width: 500px) {
  .slide-box {
    padding: 0 55px;
  }
  .offer {
    display: flex;
  }
  .offer img {
    width: 350px;
    margin-left: auto;
  }
}

.heading {
  text-align: center;
  color: #101c81;
  font-size: 45px;
  font-weight: 800;
  position: relative;
  margin-bottom: 70px;
  padding-bottom: 3vh;
  text-transform: uppercase;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif;
  
}


.heading::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #101c81;
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

.heading:hover::before {
  transform: scaleX(1);
}
.white-heading{
  color: #ffffff;
}


.heading span {
  font-size: 18px;
  display: block;
  font-weight: 500;
}
.white-heading span {
  color: #ffffff;
}
/* ------testimonial  close-------*/
.footer-dark {
  padding: 50px 0;
  color: #f0f9ff;
  background: rgb(4, 4, 94);
}

.footer-dark h3 {
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: bold;
  font-size: 16px;
}

.footer-dark ul {
  padding: 0;
  list-style: none;
  line-height: 1.6;
  font-size: 14px;
  margin-bottom: 0;
}

.footer-dark ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.footer-dark ul a:hover {
  opacity: 0.8;
}

@media (max-width: 767px) {
  .footer-dark .item:not(.social) {
    text-align: center;
    padding-bottom: 20px;
  }
}

.footer-dark .item.text {
  margin-bottom: 36px;
}

@media (max-width: 767px) {
  .footer-dark .item.text {
    margin-bottom: 0;
  }
}

.footer-dark .item.text p {
  opacity: 0.6;
  margin-bottom: 0;
}

.footer-dark .item.social {
  text-align: center;
  
}

@media (max-width: 991px) {
  .footer-dark .item.social {
    text-align: center;
    margin-top: 20px;
  }
}

.footer-dark .item.social > a {
  font-size: 18px;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.4);
  margin: 0 8px;
  color: #fff;
  opacity: 0.75;
  /* padding-left: 10px; */
}

.footer-dark .item.social > a:hover {
  opacity: 0.9;
}

.footer-dark .item.social a i{
  color: white;
}

.footer-dark .copyright {
  text-align: center;
  padding-top: 24px;
  opacity: 0.3;
  font-size: 13px;
  margin-bottom: 0;
}

/********************/
.wave-bottom {
  display: inline-block;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  top: 0;
  left: 0;
  margin-top: 90vh;
}
.services {
  margin-top: 30vh;
}
.choose .points {
  display: flex;
}

/**************************/

.contact h1 {
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  color: white;
  font-weight: 900;
}

.contact-card{
  margin: 20vh;
}

.info-card{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  
}

.card{
  text-align: center;
}
.card .card-body i {

  font-size: 62px;
}



.contact-form{
 
  top:10;
  width: 100%;
  margin-top: 5vh;
  padding-bottom: 10vh;
}

.contact-section{
  display: flex;
  justify-content: space-between;
}

.contact-form h1{
  margin-top: 5vh;
}
.map{
  margin-top: 50vh;
}

.submit-btn button{
  padding:10px;
  margin-top:4vh ;
  background-color: rgb(4, 4, 94);
  color: white;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600;
  word-spacing: 3px;
  border: none;
  width: 35%;
}

.values-section{
  padding:8vh;
  display: flex;
  justify-content: space-between;
}

.values-section p{
  padding-right: 10vh;
  border-right: 8px solid #101c81;

}

.pushed-wrapper {
	position: relative;
}
.pushed-image {
	background-image: url(https://images.pexels.com/photos/1438761/pexels-photo-1438761.jpeg?dl&fit=crop&crop=entropy&w=480&h=300);
	background-size: cover;
	background-repeat: no-repeat;
}

.pushed-content {
	position: relative;
	padding: 15px 15px 40px 15px;
	background: #fff;
	font-size: 1.6rem;
}


@media (min-width: 768px) {

	.pushed-image {
			height: 500px;
			width: 52%;
	}
	.pushed-header {
	}	
	.pushed-content {
  	border-radius: 0px 20px;
		min-height: 200px;	
		border: 3px solid #225476;
		box-shadow: 2px 4px 12px 0px rgba(0,0,0,0.42);
	}
	
	.pushed-box {
		position: absolute;
		left: 48%;
		top: 50%;
		max-width: 50%;
		transform: translateY(-50%);
	}
}

.services-card{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-evenly ;
  padding-top: 10vh;

}

.services-card div{
  margin-top: 4vh;
  width:30%;  
}

.services{
  padding: 20vh;
}

.service-header{
 
  display: flex;
  justify-content: space-evenly;
  
}
.choice{
  margin-top: 10vh ;
  margin-bottom: 10vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.choice img{
  /* transform: scale(1.3); */
}
.grid-container{
  display: grid;
  grid-template-columns: auto auto ;
  gap:20px;
  margin-top: 5vh;
}

.accordion {
  background: linear-gradient(to right, #101c81, #00b5f7);
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  border-radius: 10px;
  color: white;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion:after {
  content: '\02795'; 
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}


.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  margin:2vh;
  border-radius:10px;
}

.faq{
  margin-top: 10vh;
}

header{
  margin-bottom: 10vh;
  position: fixed;
  top: 10;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.6s;
  padding: 40px 100px;
  z-index: 1000;
}
header .logo{
  position: relative;
}

header ul{

  padding-top: 10px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

header ul li{
  position: relative; 
}

header ul li a{
  font-weight: 500;
  font-family: 'Fredoka', sans-serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Ubuntu', sans-serif; 
  
  position: relative;
  padding: 0 15px;
  text-decoration: none;
  transition: 0.5s;
  color: white;
  font-size: 18px;
}

header.sticky{
  top:0;
  background-color: #101c81;
  padding: 5px 100px;
  color: rgb(255, 255, 255);
}
header.sticky ul li a{
  
  color: rgb(255, 255, 255);
}

header ul li a {
  position: relative;
  color: white;
  text-decoration: none;
}

header ul li a:hover {
  color: white;
}

header ul li a::before {
  margin-bottom:-2vh ;
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: rgb(255, 255, 255);
  transform: scaleX(0);
  transition: transform 0.3s ease;
}

header ul li a:hover::before {
  transform: scaleX(1);
}

.banner{
  position: relative;
  width: 100%;
  height: 100vh;
}
.carou{
  position: relative;
}
.centered{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 80px;
  
}

.testimony{
  margin:10vh;
}

blockquote {
  /* font-family: Georgia, serif; */
  font-size: 15px;
  /* font-style: italic; */
  width: 500px;
  margin: 0.25em 0;
  padding: 0.35em 40px;
  line-height: 1.45;
  position: relative;
  color: white;
  line-height: 3vh;
  padding: 10vh;
  font-weight: 500;
  }
  
  blockquote:before {
  display: block;
  padding-left: 10px;
  content: "\201C";
  font-size: 130px;
  position: absolute;
  left: 60px;
  top: 60px;
  color: white;
  }
  
  blockquote cite {
  color: white;
  font-size: 14px;
  display: block;
  margin-top: 5px;
  }
   
  blockquote cite:before {
  content: "\2014\2009";
  }

.testimony{
  margin-top: 20vh;
}
.testimony blockquote{
  margin:0 auto;
}

.testimony .carousel-item{
  background-color: #101c81;
  opacity: 0.6;
  color:white
}

.aboutUs{
  margin-top: 35vh;
}

.ring{
  margin-left: -70vh;
  width: 200px;
  height: 200px;
  background-color: rgb(244,242,239);;
  border: 40px solid #101c81;
  border-radius: 50%;
  position: absolute;
  animation-name: example;
  animation-duration:4s;
  animation-iteration-count: infinite;
  
}

@keyframes example {
  0%   { margin-top: 0;}
  
  50%   { margin-top: 8vh;}
 
  100%   { margin-top: 0;}
}

#button {
  display: inline-block;
  background-color: #FF9800;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
  text-decoration: none;
  
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

@media (min-width: 500px) {
  #button {
    margin: 30px;
  }
}